language: r
warnings_are_errors: true
sudo: false
group: edge # https://blog.travis-ci.com/2017-06-19-trusty-updates-2017-Q2

addons:
    apt:
        packages:
            - libgeos-dev
# NOTE: libgeo++-dev not on current travis-ci white list for container-based

matrix:
    include:
        - r: release
          env: DEPS=cran
          os: linux
          dist: trusty
        - r: release
          env: DEPS=cran
          os: osx
        - r: oldrel
          env: DEPS=cran
          os: osx

notifications:
  email:
    on_success: change
    on_failure: change

r_github_packages:
      - jimhester/covr

after_success:
      - Rscript -e 'covr::codecov()'
