language: r
warnings_are_errors: true
sudo: false

addons:
    apt:
        packages:
            - libgeos-dev
# NOTE: libgeo++-dev not on current travis-ci white list for container-based

matrix:
    include:
        - r: oldrel
          os: linux
          dist: trusty
        - r: release
          os: linux
          dist: trusty
        - r: devel
          os: linux
          dist: trusty
        - r: release
          os: osx
        - r: oldrel
          os: osx
        - r: devel
          os: osx

notifications:
  email:
    on_success: change
    on_failure: change
